<h1>{{title}}</h1>

<div id="form-wrapper">
    <form method="POST" action="/new">

        <label for="username" id="username-label">Username</label>
        <input type="text" id="username" name="username">


        <label for="new-msg" id="msg-label">Message</label>
        <textarea id="new-msg" name="newmsg"> </textarea>

        <button type="submit">Submit</button>
    </form>
</div>